<%= @game.current_player.name %> attacked <%= @game.current_victim.name %>
<br>
<%= @game.current_victim.name %>: <%= @game.current_victim.hit_points %>HP

<% if @game.game_over? %>
  <h1>Game Over <%=@game.current_victim.name%>!!!</h1>
  <br>
<% else %>
  <form action="/switch_turns" method="post">
    <input type="submit" value="OK">
  </form>
<% end %>
